protected net.minecraft.block.RedstoneWireBlock func_235547_a_(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;)V
# checks for signal updates
protected net.minecraft.block.RedstoneWireBlock func_235545_a_(Lnet/minecraft/world/IBlockReader;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/util/Direction;Z)Lnet/minecraft/state/properties/RedstoneSide;
# recalculateSide
protected net.minecraft.block.RedstoneWireBlock func_235552_b_(Lnet/minecraft/world/IBlockReader;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;)Z
# canPlaceOnTopOf
protected net.minecraft.block.RedstoneWireBlock func_235549_a_(Lnet/minecraft/world/World;Ljava/util/Random;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/util/math/vector/Vector3f;Lnet/minecraft/util/Direction;Lnet/minecraft/util/Direction;FF)V
# spawnPoweredParticle
protected net.minecraft.block.RedstoneWireBlock field_235542_k_
# powerRGB
protected net.minecraft.block.RedstoneWireBlock field_150181_a
# canProvidePower