protected net.minecraft.block.RedstoneWireBlock func_235544_a_(Lnet/minecraft/world/IBlockReader;Lnet/minecraft/block/BlockState;Lnet/minecraft/util/math/BlockPos;)Lnet/minecraft/block/BlockState;
# getUpdatedState
protected net.minecraft.block.RedstoneWireBlock func_235546_a_(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;)I
# getStrongestSignal
protected net.minecraft.block.RedstoneWireBlock func_235557_o_(Lnet/minecraft/block/BlockState;)I
# getPower for getStrongestSignal
protected net.minecraft.block.RedstoneWireBlock func_235547_a_(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;)V
# checks for signal updates
protected-f net.minecraft.block.RedstoneWireBlock field_235543_o_
# sideBaseState
protected net.minecraft.block.RedstoneWireBlock func_235545_a_(Lnet/minecraft/world/IBlockReader;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/util/Direction;Z)Lnet/minecraft/state/properties/RedstoneSide;
# recalculateSide
protected net.minecraft.block.RedstoneWireBlock func_235552_b_(Lnet/minecraft/world/IBlockReader;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;)Z
# canPlaceOnTopOf
protected net.minecraft.block.RedstoneWireBlock func_235549_a_(Lnet/minecraft/world/World;Ljava/util/Random;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/util/math/vector/Vector3f;Lnet/minecraft/util/Direction;Lnet/minecraft/util/Direction;FF)V
# spawnPoweredParticle